<div class="modal-header bg-secondary">
    <h6 class="modal-title text-white" id="modal-basic-title">FBO Details</h6>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container">
            <div class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">ID</div>
                        <div class="col-sm-6 data">
                            {{fboData.fssai_id}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">FBO Name</div>
                        <div class="col-sm-6 data">
                            {{fboData.fbo_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Owner Name</div>
                        <div class="col-sm-6 data">
                            {{fboData.owner_name}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Contact No.</div>
                        <div class="col-sm-6 data">
                            {{fboData.owner_contact}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Processing Amount</div>
                        <div class="col-sm-6 data">
                            {{fboData.processing_amount}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon>
                            <span *ngIf="fboData.fbo_type == 'Foscos Training'"> 
                                + {{fboData.water_test_fee}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon><span style="font-size: x-small;">(Water test Fee)</span></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Email</div>
                        <div class="col-sm-6 data">
                            {{fboData.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Client Type</div>
                        <div class="col-sm-6 data">
                            {{fboData.client_type}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Service Name</div>
                        <div class="col-sm-6 data">
                            {{fboData.service_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Address</div>
                        <div class="col-sm-6 data">
                            {{fulladdress}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Payment Mode</div>
                        <div class="col-sm-6 data">
                            {{fboData.payment_mode}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">Total Amount <br><span
                                style="font-size: x-small; font-weight: normal;">(18%
                                GST Included)</span></div>
                        <div class="col-sm-6 data">
                            {{fboData.total_amount}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">FBO Type</div>
                        <div class="col-sm-6 data">
                            {{fboData.fbo_type}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="fboData.fbo_type == 'Foscos Training'" class="row border border-1 p-1">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">License Duration</div>
                        <div class="col-sm-6 data">
                            {{fboData.license_duration}} Year
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 title">License Category</div>
                        <div class="col-sm-6 data">
                            {{fboData.license_category}}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row border border-1 p-1">
                <div class="col-sm title">Recipients</div>
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
                                <thead>
                                    <tr *ngIf="fboData.fbo_type == 'Fostac Training'">
                                        <th class="cell">S.No</th>
                                        <th class="cell">Recipient Name</th>
                                        <th class="cell">Phone</th>
                                        <th class="cell">Aadhar No.</th>
                                    </tr>
                                    <tr *ngIf="fboData.fbo_type == 'Foscos Training'">
                                        <th class="cell">S.No</th>
                                        <th class="cell">Operator Name</th>
                                        <th class="cell">Address</th>
                                        <th class="cell">Electricity Bill</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="recipientData?.length>0">
                                    <tr *ngFor="let recipients of recipientData let sr = index">
                                        <td *ngIf="isfostac" class="cell"><span class="truncate">{{sr+1}}</span></td>
                                        <td *ngIf="isfostac" class="cell"><span
                                                class="truncate">{{recipients.name}}</span></td>
                                        <td *ngIf="isfostac" class="cell"><span
                                                class="truncate">{{recipients.phoneNo}}</span></td>
                                        <td *ngIf="isfostac" class="cell"><span
                                                class="truncate">{{recipients.aadharNo}}</span></td>

                                        <td *ngIf="!isfostac" class="cell"><span class="truncate">{{sr+1}}</span></td>
                                        <td *ngIf="!isfostac" class="cell"><span
                                                class="truncate">{{recipients.operatorName}}</span></td>
                                        <td *ngIf="!isfostac" class="cell"><span
                                                class="truncate">{{recipients.address}}</span></td>
                                        <td *ngIf="!isfostac" class="cell"><span
                                                class="truncate">{{recipients.eBill}}</span></td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="recipientData?.length == 0">
                                    <tr>
                                        <td colspan="15" class="text-center fw-bold">----------------- No Data Found
                                            ----------------</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>