<form [formGroup]="form" (ngSubmit)="loginForm()">
    <div class="modal-header bg-secondary">
        <h6 class="modal-title text-white" id="modal-basic-title">Login form</h6>
        <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
    </div>
    <div *ngIf="error" class="alert alert-danger m-2" role="alert">
        {{errorMgs}}
      </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="fauser"></fa-icon>
                    </span>
                  </div>
                <input
                    type="text"
                    id="username"
                    class="form-control form-control-sm"
                    placeholder="Username"
                    formControlName="username"
                    name="username"
                    [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors['required']">Username is required</div>
                    </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <fa-icon [icon]="falock"></fa-icon>
                    </span>
                  </div>
                <input
                    type="password"
                    id="password"
                    class="form-control form-control-sm"
                    placeholder="Password"
                    formControlName="password"
                    name="password"
                    [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors['required']">Password is required</div>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-left">
        <button type="submit" class="btn btn-outline-dark">Login</button>
        <a style="cursor: pointer;" (click)="openFpModal(fp)">Forgot Password?</a>
    </div>
    </form>
    
    <!--Forgot Password-->
    <ng-template #fp let-modal>
        <form [formGroup]="formFp" (ngSubmit)="resetPassword()">
        <div class="modal-content text-center">
            <div class="modal-header bg-secondary">
                <h6 class="modal-title text-white" id="modal-basic-title">Password Reset</h6>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.close('Save click')"></button>
            </div>
            <div class="modal-body px-5">
                <p class="py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <div class="form-outline mb-3">
                   <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="faenvelope"></fa-icon>
                        </span>
                    </div>
                    <input
                        type="email"
                        id="email"
                        class="form-control form-control-sm"
                        placeholder="Email"
                        formControlName="email"
                        name="email"
                        [ngClass]="{ 'is-invalid': submittedFP && forgotPass['email'].errors }"/>
                        <div *ngIf="submittedFP && forgotPass['email'].errors" class="invalid-feedback">
                            <div class="text-start" *ngIf="forgotPass['email'].errors['required']">Email is required</div>
                            <div class="text-start" *ngIf="forgotPass['email'].errors['email']">Email is invalid</div>
                        </div>
                    </div>               
                </div>
                <button type="submit" class="btn btn-primary w-50">Reset password</button>
            </div>
        </div>
    </form>
    </ng-template>