<div class="row g-3 mb-4 align-items-center justify-content-between">
  <div class="col-auto">
    <h1 class="app-page-title mb-0">Employee List</h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        <div class="col-auto">
          <form class="form">

            <div class="input-group">
              <fa-icon [icon]="faMagnifyingGlass" class="fa-sm" style="position: absolute; padding: 9px 10px;"
                [ngClass]="isSearch === false ? 'd-block':'d-none'"></fa-icon>
            </div>
            <input type="text" id="search-orders" [(ngModel)]="searchQuery" name="searchorders"
              class="form-control form-control-sm search-orders" (input)="onSearchChange()">
          </form>

        </div>
        <div class="col-auto">

          <select class="form-select form-select-sm w-auto" [(ngModel)]="selectedFilter">
            <option value="byName" selected>Search by name</option>
            <option value="byEmail">Search by email</option>
            <option value="byEmpId">Search by employee ID</option>
            <option value="byContact">Search by contact</option>

          </select>
        </div>
        <div class="col-auto">
          <fa-icon (click)="exportToCsv()" class="fa-2xl" style="cursor: pointer; margin: 7px 7px; color: #1957a9;"
            [icon]="faFileCsv"></fa-icon>
          <fa-icon class="fa-2xl" style="margin: 7px 7px; color: #c64115;" [icon]="faFilePdf"></fa-icon>
        </div>
      </div><!--//row-->
    </div><!--//table-utilities-->
  </div><!--//col-auto-->
</div><!--//row-->


<!-- <nav id="orders-table-tab" class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
  <a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab" href="#orders-all"
    role="tab" aria-controls="orders-all" aria-selected="true">All</a>
  <a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab" href="#orders-paid"
    role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a>
  <a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab" href="#orders-pending"
    role="tab" aria-controls="orders-pending" aria-selected="false">Pending</a>
  <a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab"
    href="#orders-cancelled" role="tab" aria-controls="orders-cancelled" aria-selected="false">Cancelled</a>
</nav> -->


<div class="tab-content" id="orders-table-tab-content">
  <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover table-striped mb-0 text-left">
            <thead>
              <tr>
                <th class="cell">S.No</th>
                <th class="cell">Name</th>
                <th class="cell">Contact</th>
                <th class="cell">Username</th>
                <th class="cell">Employee ID</th>
                <th class="cell">Company</th>
                <th class="cell">Email</th>
                <th class="cell">Created By</th>
                <th class="cell text-center">Status</th>
                <th class="cell text-center">Action</th>
                <!-- <th class="cell">Last Edit</th> -->
                
              </tr>
            </thead>
            <tbody *ngIf="filteredEmployees?.length>0">

              <tr
                *ngFor="let employee of filteredEmployees | paginate: { itemsPerPage: 10, currentPage: pageNumber }; let sr = index">
                <td class="cell"><span class="truncate">{{sr+1}}</span></td>
                <td class="cell"><span class="truncate">{{employee.employee_name}}</span></td>
                <td class="cell"><span class="truncate">{{employee.contact_no}}</span></td>
                <td class="cell"><span class="truncate">{{employee.username}}</span></td>
                <td class="cell"><span class="truncate">{{employee.employee_id}}</span></td>
                <td class="cell"><span class="truncate">{{employee.company_name}}</span></td>
                <td class="cell"><span class="truncate">
                    <fa-icon class="fa-l" style="margin-right: 5px;"
                      [icon]="faEnvelope"></fa-icon>{{employee.email}}</span>
                </td>
                <td class="cell"><span class="truncate">{{employee.createdBy}}</span></td>
                <td class="cell text-center">
                  <!-- <fa-icon class="fa-light fa-l" style="margin-right: 7px; color: #c64115;" [icon]="faXmark"></fa-icon> -->
                  <fa-icon class="fa-l" style="color: #138a25;" [icon]="faCheck"></fa-icon>
                </td>
                <td class="cell text-center">
                  <fa-icon class="fa-l" style="margin-right: 7px; color: #1957a9;" [icon]="faEye"></fa-icon>
                  <fa-icon class="fa-l" (click)="editRecord(employee)" style="cursor:pointer; margin-right: 7px; color: #1957a9;" [icon]="faPencil"></fa-icon>
                  <fa-icon class="fa-l" (click)="deleteEmployee(employee._id)"style="color: #c64115; cursor: pointer;" [icon]="faTrash" ></fa-icon>
                </td>
                <!-- <td class="cell"><span class="truncate">{{employee.lastEdit}}</span></td> -->
              </tr>
            </tbody>
          </table>
        </div><!--//table-responsive-->

      </div><!--//app-card-body-->
    </div><!--//app-card-->

    <div class="d-flex justify-content-end">
      <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)">
      </pagination-controls>
    </div>