<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-2">FBO {{formType}} Form</h1>
            </div>
            <div class="col-auto" [ngClass]="isEditMode ?'d-block': 'd-none'">
                <button type="submit" class="btn btn-sm btn-primary" (click)="backToRegister()">Register Form</button>
            </div>
        </div>
        <div class="row gy-4 mb-3">
            <form [formGroup]="fboForm" class="row g-3 border border-1 rounded-3 pb-3" autocomplete="off"
                (ngSubmit)="onSubmit()">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="fbo_name" class="form-label">FBO Name<sup>*</sup></label>
                            <input type="text" placeholder="FBO Name" formControlName="fbo_name"
                                class="form-control form-control-sm" id="fbo_name"
                                [ngClass]="{ 'is-invalid': submitted && fbo['fbo_name'].errors }" />
                            <div *ngIf="submitted && fbo['fbo_name'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['fbo_name'].errors['required']">FBO name is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="owner_name" class="form-label">Owner Name<sup>*</sup></label>
                            <input type="text" placeholder="Owner Name" formControlName="owner_name"
                                class="form-control form-control-sm" id="owner_name"
                                [ngClass]="{ 'is-invalid': submitted && fbo['owner_name'].errors }">
                            <div *ngIf="submitted && fbo['owner_name'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['owner_name'].errors['required']">Owner name is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="owner_contact" class="form-label">Mobile No.<sup>*</sup></label>
                            <input type="number" placeholder="Mobile No." formControlName="owner_contact"
                                class="form-control form-control-sm" id="owner_contact"
                                [ngClass]="{ 'is-invalid': submitted && fbo['owner_contact'].errors }" />
                            <div *ngIf="submitted && fbo['owner_contact'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['owner_contact'].errors['required']">Mobile No. is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="email" class="form-label">Email<sup>*</sup></label>
                            <input type="text" placeholder="Email" formControlName="email" id="email"
                                class="form-control form-control-sm" autocomplete="off"
                                [ngClass]="{ 'is-invalid': submitted && fbo['email'].errors }" />
                            <div *ngIf="submitted && fbo['email'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['email'].errors['required']">Email is required</div>
                                <div *ngIf="fbo['email'].errors['email']">Email is invalid</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="address" class="form-label">Address<sup>*</sup></label>
                            <textarea type="text" placeholder="Address" rows="1" formControlName="address"
                                autocomplete="off" class="form-control form-control-sm" id="address"
                                [ngClass]="{ 'is-invalid': submitted && fbo['address'].errors }"></textarea>
                            <div *ngIf="submitted && fbo['address'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['address'].errors['required']">Address is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="village" class="form-label">Village</label>
                            <input type="text" placeholder="Village" formControlName="village" id="village"
                            class="form-control form-control-sm" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label for="tehsil" class="form-label">Tehsil</label>
                            <input type="text" placeholder="Tehsil" formControlName="tehsil" id="tehsil"
                            class="form-control form-control-sm" autocomplete="off"/>
                        </div>
                        <div class="col-md-6">
                            <label for="district" class="form-label">District<sup>*</sup></label>
                            <select id="district" [ngClass]="{ 'is-invalid': submitted && fbo['district'].errors }"
                                formControlName="district" class="form-select form-select-sm">
                                <option value="" disabled selected>Select the District</option>
                                <option value="New Delhi">New Delhi</option>

                            </select>
                            <div *ngIf="submitted && fbo['district'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['district'].errors['required']">District is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <label for="state" class="form-label">State<sup>*</sup></label>
                            <select id="state" [ngClass]="{ 'is-invalid': submitted && fbo['state'].errors }"
                                formControlName="state" class="form-select form-select-sm">
                                <option value="" disabled selected>Select the State</option>
                                <option value="New Delhi">New Delhi</option>

                            </select>
                            <div *ngIf="submitted && fbo['state'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['state'].errors['required']">State is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="pincode" class="form-label">Pincode</label>
                            <input type="number" placeholder="Pincode" formControlName="pincode" id="pincode"
                            class="form-control form-control-sm" autocomplete="off" min="100000" max="999999"/>
                        </div>
                        
                    </div>

                    

                    <div class="row">
                        <div class="col-md-6">
                            <label for="product_name" class="form-label">Product Name<sup>*</sup></label>
                            <select id="product_name"
                                [ngClass]="{ 'is-invalid': submitted && fbo['product_name'].errors }"
                                formControlName="product_name" (change)="getProduct($event)"
                                class="form-select form-select-sm">
                                <option value="" disabled selected>Select the Product Name</option>
                                <option *ngFor="let product of productList" [value]="product">{{ product }}</option>
                            </select>
                            <div *ngIf="submitted && fbo['product_name'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['product_name'].errors['required']">Product name is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="processing_amount" class="form-label">Processing Amount<sup>*</sup></label>
                            <select id="processing_amount"
                                [ngClass]="{ 'is-invalid': submitted && fbo['processing_amount'].errors }"
                                formControlName="processing_amount" (change)="processAmount($event)" class="form-select form-select-sm">
                                <option value="" disabled selected>Select the Processing Fee</option>
                                <option *ngFor="let processamnt of processAmnt" [value]="processamnt">{{ processamnt }}
                                </option>
                            </select>
                            <div *ngIf="submitted && fbo['processing_amount'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['processing_amount'].errors['required']">Processing amount is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="service_name" class="form-label">Service Name<sup>*</sup></label>
                            <select id="service_name"
                                [ngClass]="{ 'is-invalid': submitted && fbo['service_name'].errors }"
                                formControlName="service_name" class="form-select form-select-sm">
                                <option value="" disabled selected>Select the Service</option>
                                <option *ngFor="let servicename of serviceName" [value]="servicename">{{ servicename }}
                                </option>
                            </select>
                            <div *ngIf="submitted && fbo['service_name'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['service_name'].errors['required']">Service is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="client_type" class="form-label">Client Type<sup>*</sup></label>
                            <select id="client_type"
                                [ngClass]="{ 'is-invalid': submitted && fbo['client_type'].errors }"
                                formControlName="client_type" (change)="clienttypeFun($event)"
                                class="form-select form-select-sm" >
                                <option value="" disabled selected>Select the Client Type</option>
                                <option *ngFor="let clienttype of clientType" [value]="clienttype">{{ clienttype }}
                                </option>
                            </select>
                            <div *ngIf="submitted && fbo['client_type'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['client_type'].errors['required']">Client type is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="recipient_no" class="form-label">No. of {{recipientORshop}}<sup>*</sup></label>
                            <input type="number" [attr.min]="minValue" step="1" placeholder="No. of {{recipientORshop}}" [readonly]="isReadOnly"
                                formControlName="recipient_no" class="form-control form-control-sm" id="recipient_no" 
                                (change)="recipientCount($event)"
                                [ngClass]="{ 'is-invalid': submitted && fbo['recipient_no'].errors }" />
                            <div *ngIf="submitted && fbo['recipient_no'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['recipient_no'].errors['required']">No. of Recipient is required</div>
                            </div>
                        </div>
                        <div *ngIf="isFoscos" class="col-md-6">
                            <label for="water_test_fee" class=" form-label">Water Test fee</label>
                            <select id="water_test_fee" formControlName="water_test_fee"
                                class="form-select form-select-sm" (change)="waterTestAdd($event)">
                                <option value="" disabled selected>Select the Water Test Fee</option>
                                <option *ngFor="let fee of waterTestFee" [value]="fee">{{ fee }}</option>
                            </select>
                        </div>
                        <div *ngIf="isFoscos" class="col-md-6">
                            <label for="license_category" class=" form-label">Licence Category<sup>*</sup></label>
                            <select id="license_category" formControlName="license_category"
                                [ngClass]="{ 'is-invalid': submitted && fbo['license_category'].errors }"
                                class="form-select form-select-sm">
                                <option value="" disabled selected>Select the Licence Category</option>
                                <option *ngFor="let category of licenceType.licenceCategory" [ngValue]="category">{{
                                    category }}</option>
                            </select>
                            <div *ngIf="submitted && fbo['license_category'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['license_category'].errors['required']">Licence Category is required
                                </div>
                            </div>
                        </div>
                        <div *ngIf="isFoscos" class="col-md-6">
                            <label for="license_duration" class=" form-label">Licence Duration<sup>*</sup></label>
                            <select id="license_duration" formControlName="license_duration"
                                [ngClass]="{ 'is-invalid': submitted && fbo['license_duration'].errors }"
                                class="form-select form-select-sm">
                                <option value="" disabled selected>Select the Licence Duration</option>
                                <option *ngFor="let duration of licenceType.Duration" [ngValue]="duration">{{ duration
                                    }} Year</option>
                            </select>
                            <div *ngIf="submitted && fbo['license_duration'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['license_duration'].errors['required']">Licence Duration is required
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="total_amount" class=" form-label">Total Amount<sup>*</sup>
                                <span style="font-size: x-small;">(18% GST Included)</span></label>
                            <input type="number" placeholder="Total Amount" formControlName="total_amount" 
                                class="form-control form-control-sm" id="total_amount"
                                [ngClass]="{ 'is-invalid': submitted && fbo['total_amount'].errors }" readonly/>
                            <div *ngIf="submitted && fbo['total_amount'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['total_amount'].errors['required']">Total Amount Required</div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="payment_mode" class=" form-label">Payment Mode<sup>*</sup></label>
                            <select id="payment_mode" formControlName="payment_mode" placeholder="Payment Mode"
                                [ngClass]="{ 'is-invalid': submitted && fbo['payment_mode'].errors }"
                                class="form-select form-select-sm" (change)="ModeofPayment($event)">
                                <option value="" disabled selected>Select Mode of Payment</option>
                                <option *ngFor="let mode of paymentMode" [value]="mode">{{ mode }}</option>
                            </select>
                            <div *ngIf="submitted && fbo['payment_mode'].errors" class="invalid-feedback">
                                <div *ngIf="fbo['payment_mode'].errors['required']">Mode of Payment is required</div>
                            </div>
                        </div>
                        
                        <!-- <div class="col-md-6">
                            <qr-code *ngIf="isQrCode" [value]="'upi://pay?pa=intellemo@icici&pn=Intellemo&tn=cftrhwetaw4gta&am=' + fboForm.value.total_amount"></qr-code>
                        </div> -->

                    </div>
                    <div class="col-md-12 m-0 mt-3 d-flex justify-content-center">
                            <qr-code *ngIf="isQrCode" [value]="'upi://pay?pa=PGTESTPAYUAT93@ybl&pn=MERCHANT&am=2006.00&mam=2006.00&tr=4g0eie0vlp446jh3&tn=Payment%20for%204g0eie0vlp446jh3&mc=5311&mode=04&purpose=00&utm_campaign=B2B_PG&utm_medium=PGTESTPAYUAT93&utm_source=4g0eie0vlp446jh3'" size="300"></qr-code>

                    </div>
                </div>

                

                <div class="col-6">
                    <button *ngIf="isEditMode; else otherContent" type="submit"
                        class="btn btn-sm btn-primary">Update</button>

                    <ng-template #otherContent>
                        <button type="submit" class="btn btn-sm btn-primary">Pay Now</button>
                    </ng-template>
                </div>
                <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" (click)="onReset()" class="btn btn-sm btn-warning">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl border border-1 rounded-3">
        <app-fbolist (isEditRecord)="isEditRecord($event)" class="border"></app-fbolist>
    </div>
</div>